[submodule "duck-island-icecream-knowledge-base"]
	path = duck-island-icecream-knowledge-base
	url = https://github.com/westwardquest/duck-island-icecream-knowledge-base
	branch = main
[submodule "vendor/edf-client-kit"]
	path = vendor/edf-client-kit
	url = https://github.com/westwardquest/edf-client-kit.git
